In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
# Load the trained model, preprocessor
model = load_model('model.keras')

with open('preprocessor.pkl', 'rb') as f:
    preprocessor = pickle.load(f)

2025-07-13 16:14:04.868502: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Pro
2025-07-13 16:14:04.868531: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2025-07-13 16:14:04.868538: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2025-07-13 16:14:04.868564: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-07-13 16:14:04.868577: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [3]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [4]:
input_data = pd.DataFrame.from_dict([input_data])
input_data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [5]:
input_data_transformed = preprocessor.transform(input_data)

In [6]:
input_data_transformed

,cat__Geography_France,cat__Geography_Germany,cat__Geography_Spain,cat__Gender_Female,cat__Gender_Male,scaler__CreditScore,scaler__Age,scaler__Tenure,scaler__Balance,scaler__NumOfProducts,scaler__HasCrCard,scaler__IsActiveMember,scaler__EstimatedSalary
0,1.0,0.0,0.0,0.0,1.0,-0.535985,0.104794,-0.695393,-0.257811,0.808436,0.649203,0.974817,-0.876832

In [7]:
y_pred = model.predict(input_data_transformed)

1/1 [==============================] - 0s 65ms/step

2025-07-13 16:14:05.785891: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

In [8]:
prediction_probability = y_pred[0][0]

In [9]:
if prediction_probability >= 0.5:
    print("The customer is likely to churn")
else:
    print("The customer is unlikely to churn")

The customer is unlikely to churn

In [10]:
prediction_probability

0.028704593

In [11]:
print(tf.__version__)

2.15.0